body {
    margin:0;
    padding:0;
    font-family:sans-serif;
    background: #4a69bd;
}
.card {
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    min-width:950px;
    min-height:200px;
    background:#fff;
    transition:0.5s;
}
.card .box {
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-50%);
    text-align:center;
    padding:20px;
}
.card .box h2 {
    font-size:25px;
    color:#262626;
    margin:15px auto;
}
.card .box h2 span {
    font-size:25px;
    background:#000;
    color:#fff;
    padding:4px 10px;
    margin-top: -10px;
    border-radius:5px;
}
.card .box p {
    font-size: 18px;
    color:#262626;
}
.card .box span {
    display:inline-flex;
}
.card .box ul {
    margin:0;
    padding:0;
}
.card .box ul li {
    list-style:none;
    float:left;
}
.card .box ul li a {
    display:block;
    color:#aaa;
    margin:0 10px;
    font-size:20px;
    transition:0.5s;
    text-align:center;
}
.card .box ul li:hover a {
    color:#e91e63;
    transform:rotateY(360deg);
}


.tabs {
  max-width: 950px;
  margin: 0 auto;
    margin-bottom: 100px;
  padding: 0 0px;
    background:#fff
}
#tab-button {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 20%;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  border: 1px solid #ddd;
}



.tab-button-outer {
  display: none;
}
.tab-contents {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}

.tabs-img {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width:375px;
    height:375px;
    left: 50%;
}


.navbar-brand-centered {
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
    color: #000;
}
.navbar-brand-centered h3{margin:0;margin-left: -30px;margin-top:-2px;color: #fff;}
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
}