altgraph==0.16.1
beautifulsoup4==4.7.1
cachetools==3.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
cozmo==1.4.9
cozmoclad==3.3.0
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
falcon==1.4.1
Flask==1.0.2
Flask-Cors==3.0.7
flask-heroku==0.1.9
futures==3.1.1
google==2.0.2
google-api-core==1.8.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud==0.34.0
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.9
grpcio==1.19.0
gunicorn==19.9.0
httplib2==0.12.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
macholib==1.11
MarkupSafe==1.1.0
matplotlib==3.0.2
modulegraph==0.17
networkx==2.2
numpy==1.15.4
Pillow==5.4.1
protobuf==3.7.1
py2app==0.19
pyasn1==0.4.5
pyasn1-modules==0.2.4
pyparsing==2.3.1
python-dateutil==2.7.5
python-mimeparse==1.6.0
pytz==2018.9
PyWavelets==1.0.1
redis==3.1.0
requests==2.21.0
rsa==4.0
scikit-image==0.14.1
scikit-learn==0.20.2
scipy==1.2.0
six==1.12.0
soupsieve==1.9
toolz==0.9.0
uritemplate==3.0.0
urllib3==1.26.5
Werkzeug==0.14.1
